# Supabase Keys / Variables
NEXT_PUBLIC_SUPABASE_URL=<SUPABASE_URL> # add if needed for client-side operations
NEXT_PUBLIC_SUPABASE_ANON_KEY=<ANON_KEY> # add if needed for client-side operations
SUPABASE_SERVICE_ROLE_KEY=<SERVICE_ROLE_KEY> # add if needed for CLI or other operations
STORAGE_BUCKET=<BUCKET_NAME> # add if needed for CLI or other operations
SUPABASE_DB_URL=<DB_URL> # add if needed for CLI or other operations
# SUPABASE_ACCESS_TOKEN= # token here if needed for CLI
SUPABASE_REF=<REF_ID> # add if needed for CLI or other operations
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=<PUBLISHABLE_KEY> # add if needed for client-side operations

#GMAIL SMTP Configuration
SMTP_HOST=<SMTP_SERVER> # e.g., smtp.gmail.com
SMTP_PORT=<PORT_NUMBER> # typically 465 for SSL or 587 for TLS
SMTP_SECURE=<true_or_false> # true for 465, false for other ports
SMTP_USER=<EMAIL_ADDRESS>
SMTP_PASS=<EMAIL_PASSWORD>
SMTP_FROM=<FROM_EMAIL_ADDRESS>

#Fygaro
FYGARO_LINK=<LINK_URL>
FYGARO_HOOK=<HOOK_URL>
FYGARO_RETURN_URL=<RETURN_URL>
FYGARO_API_PUBLIC_KEY=<PUBLIC_KEY>
FYGARO_API_SECRET_KEY=<SECRET_KEY>

# AI Access Tokens
# REPLICATE_API_KEY= # add later if needed
# OPENAI_API_KEY= # not used; using Replicate
# REDIS_URL=      # not implemented yet
